{% extends 'base.html' %}
{% block title %}Login - Sugar Blush{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post" class="row g-3">
  <div class="col-md-6"><label class="form-label">Email</label><input type="email" name="email" class="form-control" required></div>
  <div class="col-md-6"><label class="form-label">Password</label><input type="password" name="password" class="form-control" required></div>
  <div class="col-12"><button class="btn btn-primary">Login</button></div>
  <div class="col-12 mt-2">Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.</div>
</form>
{% endblock %}